# Development
app/pages/grem.vue
# ---

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Reverse proxy
caddy
Caddyfile
revproxy

# Docker Compose
docker-compose.yaml
docker-compose.yml

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example